:root {
    --primary: #20a9e5;
    --secondary: #b1e5f2;
    --text-color-2: grey;
    font-size: 14px;
}

body {
    font-size: 1.2rem;
}

.padding-gen {
    padding: 5px;
}

#logo-image {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header {
    background-image: url("../img/pattern.png");
    background-color: var(--primary);
    background-size: contain;
    height: 70px;
}

#main-title {
    font-size: 3rem;
    font-weight: 1000;
}

#author-name {
    color: var(--primary);
}

#date {
    font-size: 0.7rem;
}

.padding-top {
    padding-top: 5px;
}

#article-data {
    color: var(--text-color-2);
}

#suggest-section {
    color: var(--text-color-2);
}

#first-suggest {
    background-image: url("../img/monitor.jpg");
}

#second-suggest {
    background-image: url("../img/graph.jpg");
}